<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0E_rgb_JCGqT1uY3B9EP0EwHR9FkNtnc</string>
	<key>GCM_SENDER_ID</key>
	<string>977209493574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sygConducteur.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mymapp-1556031423958</string>
	<key>STORAGE_BUCKET</key>
	<string>mymapp-1556031423958.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977209493574:ios:5a91513b65d1cab3c26247</string>
</dict>
</plist>